
/*container position*/
.R-loginContainer{
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 10px;
}  

/*content inside container*/
.R-content{
    display: grid;
    place-items: center;
    min-width: 350px;
    background-color: #0D6EFD;
    padding: 1em;
    border-radius: 0.5em;
    font-weight: 600;
    color: #ffff;
}
.R-buttonposition{
    display:flex;
    justify-content: center;
}
/*css for input fields*/
.R-input{
    width:250px;
    padding:10px;
    margin: 0.5em;
    border-radius: 5px;
    font-family:inherit;
    font-size: inherit;
    outline: none;
    border:1px solid rgb(111, 68, 212);
    box-shadow: 0 0 10px #8db4dd;
}

/* css for input field make red*/
.L-input2{
    width:250px;
    padding:10px;
    margin: 0.5em;
    border-radius: 5px;
    font-family:inherit;
    font-size: inherit;
    outline: none;
    border:1px solid rgb(207, 9, 9);
    box-shadow: 0 0 10px #f30b0b;
}

.R-input:hover{
    border:1px solid rgb(77, 10, 231);
    box-shadow: 0 0 10px #1171d8;
}

.R-login-title{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}

/* css for buttons*/
.R-buttons{
    padding: 0.5em 2em 0.5em 2em;
    margin: 0.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #ffff;
    background-color: rgba(49, 49, 235, 0.774);
    border-radius: 5px;
    border: none;
}

.R-buttons:hover{
    background-color: rgba(20, 20, 143, 0.774);
    cursor: pointer; 
    box-shadow: 0 0 10px rgba(20, 20, 143, 0.774);
}
.R-gird{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-device-width:990px) { 
    .R-content{
        display: grid;
        place-items: center;
        min-width: 300px;
        background-color: #0D6EFD;
        padding: 0.5em;
        border-radius: 0.5em;
        font-weight: 600;
        color: #ffff;
    }  
    .R-gird{
        display: grid;
        grid-template-columns: 1fr;
    }
}